.components {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.component-heaer {
    border-bottom: 1px solid;
    width: 100%;
    padding: 10px;
    background: #399bf7;
    align-items: center;
    justify-content: center;
    display: flex;
}

.component-heaer h1 {
    font-size: 18px;
}

.milti-containet-rext {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.nav a {
    background: #007bff;
    color: #fff;
    border-radius: 6px;
    width: 100%;
    padding: 10px 50px;
    max-width: 250px;
    font-size: 20px;
    text-align: center;

}

.components-end {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.components-end h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.multi-step-form-container {
    padding: 20px;
    width: 100%;
}

.multi-step-form h2 {
    margin-bottom: 15px;
}

.multi-step-form p {
    margin-bottom: 10px;
}

.multi-step-form label {
    display: block;
    margin-bottom: 10px;
}

.multi-step-form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid;
    border-radius: 6px;
}

.multi-step-form-list-item input {
    border-radius: 6px;
    border: 1px solid;
    width: 40%;
}

.multi-step-form-button {
    display: flex;
    width: 100%;

    justify-content: center;
    gap: calc(100% - 200px);
    flex-shrink: 0;
    margin-top: 85%;
}
main {
    /* Чтобы занимал оставшееся пространство */
    flex-grow: 1;
  }
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
.multi-step-form-button>button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    width: 200px;
}

.multi-step-form-button>button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.multi-step-form-list {
    list-style: none;
    padding: 0;
    overflow: scroll;
    width: 100%;
}

.product_name {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.multi-step-form-list-item {
    padding: 10px;
    border-bottom: 1px solid #000000;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    align-items: center;
}

.multi-step-form-list-item>edited {
    display: flex;
    flex-direction: column;
}

.multi-step-form-list-item p {
    font-size: 18px;
    border: 1px solid;
    border-radius: 3px;
    padding: 5px;
}

.multi-step-form-list-item-rec {
    padding: 10px;
    border: 1px solid #000000;
    margin-bottom: 10px;
    background: #0000002d;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.multi-step-form-list-item-rec h1 {
    font-size: 16px;
}

.multi-step-form-list-editor {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.multi-step-form-list-editor label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    z-index: 999;
}

.multi-step-form-list-editor label input {
    padding: 4px 15px;
    font-size: 14px;
}

#comments {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

#comment-inp {
    width: 100%;
    border: 1px solid;
    border-radius: 6px;
    height: auto;
    overflow: hidden;
    font-size: 16px;
    padding: 10px;
    overflow-y: scroll;
    height: 200px;
}

.comment-wrapper {
    overflow: scroll;
    width: 100%;
}

.comment-wrapper>.comment {
    height: auto;
    max-height: 200px;
}

.edit-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;

}

.edit-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 300px) {

    h1,
    h2,
    h3,
    h4 p {
        font-size: 12px !important;
    }
    .multi-step-form-button>button {
        font-size: 12px;
        padding: 5px 0;
        margin-top: 0;
    }

    .edit-icon {
        width: 12px;
        height: 12px;
    }

    .components {
        padding: 0;
    }

    .multi-step-form-button {
        display: flex;
        justify-content: center;
        gap: calc(100% - 90%);
        width: 100%;
    }

    body {
        width: 100%;
    }

    .multi-step-form-list-editor label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        z-index: 999;
    }

    #comment-inp {
        width: 100%;
        border: 1px solid;
        border-radius: 6px;
        height: auto;
        overflow: hidden;
        overflow-y: hidden;
        font-size: 12px;
        padding: 10px;
        overflow-y: scroll;
        height: calc(100% - 20%);
    }

    .multi-step-form-list-editor label input {
        font-size: 12px;
        padding: 4px 10px;
    }

    .multi-step-form-list-item-rec {
        padding: 10px;
        border: 1px solid #000000;
        margin-bottom: 10px;
        background: #0000002d;
        position: relative;
        display: flex;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;
    }

    .multi-step-form-list-item p {
        font-size: 12px;
        border: 1px solid;
        border-radius: 3px;
        padding: 2px;
    }
}