@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

* {
	padding: 0px;
	margin: 0px;
	border: none;
	font-family: 'Montserrat', sans-serif;

}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-size: calc(12px + 8 * (100vw - 450px) / 1920);
}

/* Links */

a,
a:link,
a:visited {

	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3 {
	font-size: calc(16px + 8 * (100vw - 450px) / 1920);
	font-weight: inherit;
	font-family: 'Montserrat', sans-serif;
}


h4,
h5,
h6,
p {

	font-size: calc(12px + 8 * (100vw - 450px) / 1920);
	font-weight: inherit;
	font-family: 'Montserrat', sans-serif;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
	width: calc(100% - 10%);
	margin: auto;
}